*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.8rem;
}

.header {
  width: 100%;
  z-index: 999;
  position: fixed;
  padding: 2rem 5rem;
  transition: all .5s;
  background-color: #319197;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sticky {
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.navbar__list {
  display: flex;
}

.navbar__item {
  list-style: none;
}

.navbar__item:not(:last-child) {
  margin-right: 5rem;
}

.navbar__link {
  text-decoration: none;
}

.header-hero {
  background-color: palegreen;
  height: 50vh;
}

.carousel-contaner {
  height: 200vh;
}

.carousel {
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.choose-box {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  transition: 0.3s;
  margin: 1rem 1rem;
  min-width: 23.4%;
  border: 1px solid #319197;
}

span {
  cursor: pointer;
  color: #080046;
  font-weight: bold;
  font-size: 8rem;
  transition: 0.6s ease;
  z-index: 1111111111111111;
}

footer {
  padding: 5rem 0rem;
  text-align: center;
  background-color: palegreen;
  height: 10rem;
}